@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .grid {
    width: 80%;
    height: 80%;
  }

  .header .header__name {
    font-size: 35px;
  }
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
  height: 600px;
  border: 3px solid #003250;
  box-shadow: 0px 10px 10px #000000 0, 0, 0, 0.5;
  margin-bottom: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}
.header .header__name {
  font-family: Chango, cursive;
  font-size: 40px;
  color: #003250;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
.header .header__score {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: #000000;
  margin: 5px;
}

.refresh-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 2px;
  color: white;
  border-radius: 25px;
  background-color: #003250;
  border-color: #000000;
}

body {
  background-color: #a4f2f5;
}