.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
  height: 600px;
  border: 3px solid black;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.header .header__name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #01263d;
}
.header .header__score {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
}

body {
  background-color: #a4f2f5;
}