
.header {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;

  .header__name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 35px;
    color: $color-blue;
  }
  
  .header__score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $color-black;
  }

}